:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1, 'tnum' 1;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
        /* enable tnum feature */
        font-variation-settings: 'tnum' 1;
    }
}

body {
    padding: 10px;
}

table {
    border-collapse: collapse;
    display: none;
    border: 1px solid #dfdfdf;
}

button,
input,
select {
    background: none;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    padding: 5px 10px;
    color: black;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    color: #dfdfdf;
}

th,
td {
    padding: 6px 10px;
    text-align: center;
    border: none;
}

tr>th:first-child,
tr>td:first-child {
    position: sticky;
    left: 0;
    background-color: white;
}

.available {
    background-color: #BDFFBC;
    color: #286327;
}

.booked {
    background-color: #FFA6A6;
    color: #750909;
}

.unavailable {
    background-color: gainsboro;
    color: black;
}

label {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #0066ff;
}

#queryForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px 18px;
    align-items: start;
}

.queryContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#notice {
    font-size: 13px;
}

@media (max-width: 600px) {
    #queryForm {
        flex-direction: column;
    }

    .smolFont {
        font-size: 10px;
    }
}

#tableContainer {
    width: 100%;
    overflow-x: scroll;
}

dialog {
    border-radius: 10px;
    border: solid 1px lightgray;
}

.dialogContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.dialogTitle {
    margin: 0;
}

.dialogFormBlock {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    align-items: center;
}

label[for="startTime"],
label[for="endTime"] {
    width: 75px;
    font-size: 13px;
}

#closeButton {
    color: red;
}

.dialogButtonRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dialogContent>p {
    font-size: 13px;
    margin: 0;
    opacity: 0.5;
}

.dialogButtonRow>button {
    flex: 1;
}

#seatGuide {
    margin-top: 18px;
    margin-bottom: 18px;
    display: none;
}